<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dpi.ks19.participantapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ks_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Activities.ScheduleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />

        <activity
            android:name=".Activities.SplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:roundIcon="@drawable/ks_icon"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.ProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />

        <activity
            android:name=".Activities.EventListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />
        <activity
            android:name=".Activities.ClusterCardsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar"></activity>

        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />
        <activity
            android:name=".MainScreen"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />
        <activity
            android:name=".AboutKS"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />
        <activity
            android:name=".AboutUs"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />
        <activity
            android:name=".AboutUsApp"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />


        <activity
            android:name=".sponsors"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />

        <activity
            android:name=".proshows"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />
        <activity
            android:name=".Activities.CollegeListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarWithTranslucentStatusBar" />

    </application>

</manifest>